<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="/Orders/ViewCart">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Cart
        </a>
        
    </li>
   
</ul>