@{
    ViewBag.Title = "Login Failure";
}
<div class="container body-content">
    <div class="content-panel">
        <hgroup>
            <h2 class="page-title">@ViewBag.Title.</h2>
            <h3 class="text-danger">Unsuccessful login with service.</h3>
        </hgroup>
    </div>
</div>