@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="container body-content">
    <div class="content-panel">
        <hgroup class="title">
            <h1 class="page-title">@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p id="content-text">
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>