@{
    ViewBag.Title = "About";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<hgroup class="title">
    <h1>The flower shop</h1>

</hgroup>

<article>
    <p>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/bg/4.jpg" alt="Restaurant">
                    <div class="carousel-caption">
                        <h1>Aromatic</h1>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/bg/1.jpg" alt="Food"  >
                    <div class="carousel-caption">
                        <h1>Beautiful</h1>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/bg/3.jpg"   alt="New York"  >
                    <div class="carousel-caption">
                        <h1>Awesome!</h1>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <img src="~/Content/bg/pic2.jpg" class="imgleft-box" />This  website offers free buyer accounts to all of its members.
    </p>
    <p>
        However, to sell your items on it, you have to become a member.
        The site offers five different types of membership that range in features and price. Some of the memberships only require a one-time verification fee that is credited to your account; the more expensive memberships require both a verification fee and monthly payment. While you can list items on the site for free, it charges a final value fee for each item you sell, which is a percentage of the total amount your item sells for plus shipping.
    </p>
</article>

<aside>
    <h3>More featured</h3>
    <p>
        The flower shop has several features that help you advertise and sell your item. The site has approximately 170,000 members, which is not the largest user base of the online auction stores we evaluated but still provides plenty of eyes on your items. To view stats regarding your store, you simply plug in your Google Analytics number. To improve your traffic, The flower shop submits your items to search engines such as Google and Bing. In addition, Our bright and cheerful flower shop is conveniently located in the Altona Mall!  We pride ourselves on our customer service and quality flowers.

Featuring wedding florals and floral designs for any occasion, as well as home decor and giftware.
        One feature this bidding site does offer to attract buyers is numerous payment options. It accepts money through Amazon Payments, Bitcoin, PayPal, Xcoin, Visa or MasterCard. You can select which payment methods you will accept on each listing.

        Our web site's support options are limited. The service does not have a telephone or live chat option. The only way to talk with a representative is through email. However, you can chat live with potential buyers and sellers. The site has an extensive FAQs page, as well as a community forum that discusses solutions to common user problems.
    </p>
    <h4> Monday - Friday 9:30-5:30</h4>
   <h4> Saturday - 10-2</h4>
    <h4>
        Closed Sunday
    </h4>
    <p>
        <h3>History of foundation</h3>
        <p>The Flower shop was created some 4 years ago . Once the oceans receded from this region, The Mound towered some 50 feet above the adjoining Blackland Prairie.
Although undistinguishable today, The Flower shop sits on Long Prairie, which was a one-mile wide by four-mile long prairie amidst the Cross Timbers forest. Early travelers emerged from fighting their way through the thick brush of the Cross Timbers onto Long Prairie, with The Mound rising above. Many weary travelers rested at, camped on, and surveyed the landscape from The Mound.
Myths abound about The Mound, including that it was built by an Ancient Culture or is an Indian Burial Mound. Edward Marcus had several locations on The Mound excavated by SMU Archeologists, but no Indian remains were found.
Shards of pottery dated 700 AD were found at the base of The Mound by Sweetie Bowman in the 1970s. Wichita Indians were the primary Native Americans in Flower Mound, but several other tribes lived in the area, as well.</p>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">See more!</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Ownership</h4>
                    </div>
                    <div class="modal-body">
                        <p>The Flower shop  has had several owners, starting with Yegemberdi Nazerke . Subsequent owners were: George Beavers; Ray Lester; Edward Marcus; Flower Mound New Town; and Bellamah Community Development.
Bellamah deeded The Mound to the Flower Mound Foundation on July 25, 1983. The Foundation’s purpose is to keep the original character of the site and to promote educational, scientific and historical interests.
The Mound exists today as it did when the first pioneers first saw it. The Mound has never had a plow in it. The same Bluestem, Indian Grass, Switch Grass and wildflowers grow there as they did hundreds of years ago, when buffalo and antelope grazed them. It is one of the last remaining pieces of unaltered Blackland Prairie.
More than 400 varieties of plants and flowers grow on The Mound. Alton Bowman is author of The Flower Mound, Flower Mound, Texas: A History and Field Guide to the Flowers and Grasses. The Flower Mound Foundation sells this book for $20 to help pay for maintenance of The Flower Mound.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </p>



</aside>
