@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    <h3>In map</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.1152381810507!2d69.6008924309106!3d42.361383307809916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38a91c6cafc60169%3A0xc3f4a81afbab7385!2z0YPQuy4g0JouINCa0LDQt9C40LXQstCwLCDQqNGL0LzQutC10L3Rgiwg0JrQsNC30LDRhdGB0YLQsNC9!5e0!3m2!1sru!2s!4v1430682921837" width="500" height="200" frameborder="0" style="border:0"></iframe>

</address>
