@model Projectnaz.Models.Order

@{
    ViewBag.Title = "Purchased";
}

<div class="container body-content">
    <div class="content-panel">
        <h2 class="page-title">Thank you for your purchase</h2>
        <h4 class="page-sub-title">Your receipt will be emailed to you. Please wait forever for your package to arrive. Have a great day!</h4>
    </div>
</div>

